@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-light-orange: #ff7e5f;
}

.gradient-bg {
  background: linear-gradient(90deg, rgb(84, 0, 238), #feb47b);
}

.gradient-bg-2 {
  background: linear-gradient(90deg, #e855de 25%, #ff7e5f 100%);
}
